<div class="row">
  <div class="col-md-6 mx-auto">
    <h3>Cadastre-se</h3>
    <div class="card">
      <div class="card-body">
        <%= bootstrap_form_for(resource, 
            :as => resource_name, 
            :url => registration_path(resource_name)) do |f| %>

        <%= f.text_field :name,  
            class: 'form-control' %>
        <%= f.text_field :email,   
             class: 'form-control' %>
        <%= f.password_field :password,             
            class: 'form-control' %>
        <%= f.password_field :password_confirmation,
            class: 'form-control' %>
        <%= f.submit 'Cadastrar', class: 'btn btn-block btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>